@page "/expense/create"
@page "/expense/edit/{id:int}"
@inject IExpenseRepository _expenseRepository
@inject IExpenseCategoryRepository _expenseCategoryRepository
@inject NavigationManager _navigationManager
@inject IFileUpload _fileUpload
@inject IJSRuntime _jsRuntime

<div class="row my-2">
    <h3 class="card-title text-primary mb-3 ml-3">@Title Expense</h3>

    <div class="col-10">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="/images/Loading_Multiple.gif">
            </div>
        }
        else
        {
            <EditForm Model="Expense" OnValidSubmit="UpsertExpense">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Name</label>
                    <InputText @bind-Value="Expense.Name" class="form-control"></InputText>
                    <ValidationMessage For="()=>Expense.Name"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <InputNumber @bind-Value="Expense.Amount" class="form-control"></InputNumber>
                    <ValidationMessage For="()=>Expense.Amount"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <InputDate @bind-Value="Expense.Date" class="form-control"></InputDate>
                    <ValidationMessage For="()=>Expense.Date"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <SfRichTextEditor @bind-Value="Expense.Description" class=""> </SfRichTextEditor>
                    <ValidationMessage For="()=>Expense.Description"></ValidationMessage>
                </div>

                <div class="row pt-3">
                    <div class="form-group col-6">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="Expense.IsCommon" class="form-check-input"></InputCheckbox>
                            <label class="form-check-label">Necessary</label>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="Expense.IsUncommon" class="form-check-input"></InputCheckbox>
                            <label class="form-check-label">Redundant</label>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Category</label>
                        <InputSelect @bind-Value="Expense.ExpenseCategoryId" class="form-select">
                            <option value="0" disabled="disabled" selected=>Select Category</option>
                            @foreach (var cat in ExpenseCategories)
                            {
                            <option value="@cat.Id">@cat.Name</option>
                            }

                    </InputSelect>
                    <ValidationMessage For="()=>Expense.ExpenseCategoryId"></ValidationMessage>
                </div>
                <div class="form-group col-6">
                    <InputFile OnChange="HandleImageUpload"></InputFile>
                </div>
            </div>

            <div class="form-group py-2">
                <button class="btn btn-primary">@Title</button>
                <NavLink href="expense" class="btn btn-secondary">Back to Index</NavLink>
            </div>
        </EditForm>
        }
    </div>
</div>
<div class="col-md-2">
    <img src="@Expense.ImageUrl" class="w-100" />
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private ExpenseDTO Expense { get; set; } = new()
        {
            ImageUrl = "/images/default_image.png"
        };
    private IEnumerable<ExpenseCategoryDTO> ExpenseCategories { get; set; } = new List<ExpenseCategoryDTO>();
    private string Title { get; set; } = "Add";
    public bool IsLoading { get; set; }
    public string OldImageUrl { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadExpense();
        }
    }

    private async Task LoadExpense()
    {
        IsLoading = true;
        StateHasChanged();
        ExpenseCategories = await _expenseCategoryRepository.GetAll();
        if (Id != 0)
        {
            //update
            Title = "Update";
            Expense = await _expenseRepository.Get(Id);
            OldImageUrl = Expense.ImageUrl;
        }
        IsLoading = false;
        StateHasChanged();
    }

    private async Task UpsertExpense()
    {
        if (Expense.Id == 0)
        {
            //create
            await _expenseRepository.Create(Expense);
            await _jsRuntime.ToastrSuccess("Expense Created!");
        }
        else
        {
            //update
            if (OldImageUrl != Expense.ImageUrl)
            {
                _fileUpload.DeleteFile(OldImageUrl);
            }
            await _expenseRepository.Update(Expense);
            await _jsRuntime.ToastrSuccess("Expense Updated!");
        }

        _navigationManager.NavigateTo("expense");
    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        IsLoading = true;
        try
        {
            if (e.GetMultipleFiles().Count > 0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    System.IO.FileInfo fileInfo = new System.IO.FileInfo(file.Name);
                    if (fileInfo.Extension.ToLower() == ".jpg" ||
                    fileInfo.Extension.ToLower() == ".png" ||
                    fileInfo.Extension.ToLower() == ".jpeg")
                    {
                        Expense.ImageUrl = await _fileUpload.UploadFile(file);
                    }
                    else
                    {
                        await _jsRuntime.ToastrError("Select .jpg/.jpeg/.png Files Only");
                        return;
                    }
                }
            }
            IsLoading = false;

        }
        catch (Exception ex)
        {
            await _jsRuntime.ToastrError(ex.Message);
        }
    }
}
